{lib_dirs,["c:/Program Files (x86)/Elixir.bat/lib",
           "c:/Users/Guido/Documents/GitHub/Excess/_build/dev"]}.

{release,{excess,"0.0.1"},[{excess,"0.0.1"},elixir,iex,sasl]}.

{include_erts,true}.

{include_src,false}.

{extended_start_script,true}.

{generate_start_script,false}.

{overlay,[{mkdir,"releases/0.0.1"},
          {copy,"./sys.config","releases/0.0.1/sys.config"},
          {copy,"./boot","bin/excess"},
          {copy,"c:/Users/Guido/Documents/GitHub/Excess/_build/dev/consolidated",
                "lib/consolidated"}]}.

