[{sasl,[{errlog_type,error}]},
 {excess,
     [{'Elixir.Excess.Endpoint',
          [{url,[{host,<<"localhost">>}]},
           {secret_key_base,
               <<"mQHZBtiI+npWSuDaTsq2UR8yFC4EqvOBM4z1KwQFxkmdEHxWUGHDEGIWu6l31Fnk">>},
           {debug_errors,true},
           {http,[{port,4000}]},
           {cache_static_lookup,false}]}]},
 {logger,
     [{console,
          [{format,<<"$time [$level] $message\n">>},
           {metadata,[request_id]}]}]},
 {phoenix,[{code_reloader,true}]}].
